{% load static %}

<html>
<head><title>MailServer</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
</head>
<body>
<h2>Random</h2>
<div class="container">
	<header>
		<div class="nav-left">
			<h1><a href="/">Page</a></h1>
		</div>
			<div class="nav-right">
		</div>
	</header>
	{% extends 'index.html' %}	
	{% block content %}
		<div class="post-entry">
		<h1>{{ object.title }}</h1>
			<h2>{{ object.address }} </h2>
		</div>
	{% endblock %}
</body>
</html>